.project-info-container {
    position: fixed;
    display: flex;
    bottom: 12vh;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    width: 96.5%;
    min-height: 40vh;
    margin: 2vh 0 2vh -2px;
    background: linear-gradient(to bottom, #ffffff, #d4dfbb);
    border-radius: 10px;
    font-size: 0.8em;
    border-top: 0.2px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  }
  
  .project-title-container,
  .project-descr-container {
    margin: 2% 5% 1% 5%;
    padding: 0;
    width: 89%;
  }
  
  .project-title-container {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5em;
    text-align: left;
    margin: 3% 2% 1% 2%;
    width: 96%;
  }
  
  .project-visual-info {
    margin: 0 3vw 0 2vw;
    display: flex;
    flex-direction: column;
  }
  
  .project-title-container p {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
  }
  
  .project-descr-container p {
    padding: 0;
    margin: 1% 0 0.5% 0;
    /* padding-left: 1%; */
  }
  
  .project-description-header {
    font-weight: 600;
  }
  
  .project-description {
  }
  
  .comment-list-container {
    width: 89%;
    margin: 2% 5% 1% 5%;
  }
  
  .comment-list-container p {
    padding: 0;
    margin: 0 0 0.5% 1%;
  }
  
  .comment-list-header {
    border-bottom: 0.5px solid black;
    font-weight: 600;
  }
  
  .comment-list {
    width: 100%;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style-type: none;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .comment-list li {
    font-style: italic;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  
  .comment-list :last-child {
    /* font-style: normal; */
  }
  
  .comment-input-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 1vh 0 1vh 0;
  }
  
  .add-comment-button {
    height: 38px;
    vertical-align: middle;
    width: 15%;
    border: 1px solid #486a47;
    border-left: 0;
    text-align: center;
    font-size: 2.5em;
    line-height: 38px;
    background: #486a47;
    color: white;
    display: none;
  }
  
  .comment-textarea {
    width: 80%;
    height: 38px;
    resize: none;
    padding: 0;
    border-radius: 0;
  }
  
  .comment-textarea:focus {
    border-radius: 0;
    outline: none;
  }
  
  .project-prio-visual {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: white;
    text-align: center;
    background: #486a47;
    font-size: 20px;
    font-weight: bold;
  }
  
  .project-start-date {
    width: 90%;
    font-size: 0.92em;
    color: grey;
  }
  
  .project-start-date p {
    margin: 0;
    padding: 0;
  }
  .progress-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin-top: 1vh;
  }
  
  .progress-input {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    font-size: 2em;
    margin-left: 3vw;
    line-height: 30px;
    text-align: center;
    color: white;
    background: #005b96;
  
  }
  
  .progress-abort-button {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #d5212e;
    font-size: 1.7em;
    margin-left: 3vw;
    line-height: 30px;
    text-align: center;
    color: white;
  
    display: none;
  }
  
  .progress-register-button {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    font-size: 1.7em;
    margin-left: 3vw;
    line-height: 30px;
    text-align: center;
    color: white;
    background:#006a4e;
  
  
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .progress-container {
    display: flex;
    width: 55%;
    height: 4vh;
    justify-content: flex-start;
    margin-top: 5px;
  }
  
  .progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    width: 100%;
    height: 20px;
    -webkit-box-shadow: 1px 1px 2x 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 2x 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 1);
  }
  
  .progress-done {
    opacity: 1;
    border-radius: 20px;
    background: linear-gradient(to right, #d4dfbb, #486a47);
    color: linear-gradient;
    text-align: center;
    font-weight: 500;
    text-align: center;
    line-height: 150%;
    height: 20px;
    width: auto;
  }